.general__container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 5rem;
  width: 90%;
  margin: 8rem auto 5rem;
  /* position: relative; */
}


@media (max-width:767px) {
  .general__container {
    display: grid;
    grid-template-columns:1fr;
    width: 90%;
    margin: 6rem auto 2rem;
  }
}