.general__container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 5rem;
  width: 90%;
  margin: auto;
  /* align-items: center; */
  /* padding: 5rem; */
}


@media (max-width:767px) {
  .general__container {
    display: grid;
    grid-template-columns:1fr;
    width: 90%;
    /* padding: 2rem; */
  }
}